@import '../../sass/mixins'

@keyframes bgc
    0%
        background-position: 0% 0%
    50%
        background-position: 100% 0%
    100%
        background-position: 0% 0%

.wrapper
    flex-grow: 1
    padding: var(--color-border-width)
    position: relative
    &::before
        @include before-after
        top: 0px
        bottom: 0px
        left: 0px
        right: 0px
        border-radius: var(--border-radius-big) 0
        box-shadow: 0 0 calc(var(--shadow-radius)*3) rgba(0, 0, 0, 0.6)
        background: linear-gradient(45deg, var(--darkest-gray) 10%, var(--main-color-1), var(--main-color-2), var(--main-color-3), var(--main-color-2), var(--main-color-1), var(--darkest-gray) 90%)
        background-size: 200% 100%
        background-position: 0% 0%
        animation: bgc 8s infinite ease-in

        // top: 10px
        // bottom: 10px
        // left: 10px
        // right: 10px
        // transform: skew(1.1deg, 0.5deg)
    &::after
        @include before-after
        top: var(--color-border-width)
        bottom: var(--color-border-width)
        left: var(--color-border-width)
        right: var(--color-border-width)
        border-radius: var(--border-radius-small) 0
        background: var(--darkest-gray)

    &--modal
        transition: .4s
        transform: scale(.25)
        opacity: 0

    &--showing
        transition-delay: .2s
        transform: scale(1)
        opacity: 1
