@keyframes hide
    0%
        opacity: 1
    50%
        opacity: 0

@keyframes show-delay
    0%
        opacity: 0
    30%
        opacity: 0
    100%
        opacity: 1

.navigation_button
    position: relative
    flex-grow: 1
    flex-basis: 18%
    cursor: pointer
    border: none
    transition: 2s
    overflow: visible
    display: flex
    align-items: center
    justify-content: center
    z-index: 999999
    @media (orientation: portrait)
        opacity: 0
        animation: show-delay 2s .5s ease forwards
    // &::before
    //     opacity: 0
    //     content: "" 
    //     display: block
    //     position: absolute
    //     width: 80%
    //     height: 5vh
    //     border-radius: var(--border-radius-big) 0
    //     z-index: 1
    //     background-image: var(--gradient-color)
    //     background-size: 100vw 100%
    //     background-position-x: -400%
    //     transition: .3s linear
    //     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
    //     @media (orientation: portrait)
    //         display: none

    // &--active
    //     &::before
    //         opacity: 1
    //         transform: skew(4deg, 1.5deg)

    &--hidden_burger
        @media (orientation: portrait)
            opacity: 0
            animation: hide 2s ease forwards

    &--upper_level
        @media (orientation: landscape)
            flex-grow: 0

    &--first
        &::before
            background-position-x: 0%

    &--second
        &::before
            background-position-x: 25%

    &--third
        &::before
            background-position-x: 50%

    &--fourth
        &::before
            background-position-x: 75%

    &--fifth
        &::before
            background-position-x: 100%

    &__button
        position: absolute
        padding: 0
        width: 80%
        height: 5vh
        color: white
        font-size: var(--font-size-bigger)
        border: none
        background-color: transparent
        border-radius: var(--border-radius-big) 0
        cursor: pointer
        overflow: hidden
        display: flex
        justify-self: center
        justify-content: center
        align-items: center
        @media (orientation: portrait)
            height: 60%
            width: 80%
            font-size: var(--font-size-biggest)

        &::before
            position: absolute
            top: 0
            left: 0
            z-index: 2
            width: 100%
            height: 5vh
            content: ""
            display: block
            border-radius: var(--border-radius-big) 0
            background-clip: padding-box
            @media (orientation: portrait)
                height: 100%
                border-radius: var(--border-radius-big)
                background-image: unset

        &::after
            content: ""
            position: absolute
            z-index: 3
            top: -20vh
            left: 50%
            transform: translateX(-50%)
            width: 0vh
            height: 0vh
            border-radius: 50%
            display: block
            transition: 0.5s
            background-image: var(--color-gradient)
            background-size: 100vw 100%

        &--active
            span
                color: var(--almost-white)
            &::after
                height: 40vh
                width: 40vh
                @media (orientation: portrait)
                    height: 60vh
                    width: 60vh

        &--first
            &::after
                background-position-x: 0%

        &--second
            &::after
                background-position-x: 25%

        &--third
            &::after
                background-position-x: 50%

        &--fourth
            &::after
                background-position-x: 75%

        &--fifth
            &::after
                background-position-x: 100%

        &:hover
            span
                color: var(--almost-white)
            &::after
                height: 40vh
                width: 40vh
                @media (orientation: portrait)
                    height: 60vh
                    width: 60vh

        &--upper_level
            flex-grow: 0
            background-image: var(--color-gradient)
            background-clip: text
            color: transparent
            background-size: 100vw 100%
            &:hover
                span
                    color: var(--lightest-gray)
            &::after, &::before
                @media (orientation: landscape)
                    opacity: 0

        &_text
            position: absolute
            display: block
            z-index: 30
            background-image: var(--color-gradient)
            background-clip: text
            color: transparent
            background-size: 100vw 100%
            background-position-x: -400%
            font-weight: bold
            letter-spacing: .08em
            transition: .5s
            text-transform: uppercase

            &--first
                background-position-x: 0%
            &--second
                background-position-x: 25%
            &--third
                background-position-x: 50%
            &--fourth
                background-position-x: 75%
            &--fifth
                background-position-x: 100%
            &--hidden
                @media (orientation: landscape)
                    opacity: 0
