.gallery_image
    grid-row: span 2
    grid-column: span 2
    position: relative
    backface-visibility: hidden
    // &:nth-child(1) .gallery_image__imag
    //     object-position: center
    @media (orientation: portrait)
        grid-template-columns: repeat(6, 1fr)
        grid-template-rows: repeat(14, 1fr)

    &--normal
        @media (orientation: landscape)
            &:nth-child(1)
                grid-row: span 4
                grid-column: span 4

            &:nth-child(5)
                grid-row: span 2
                grid-column: span 4

            &:nth-child(8)
                grid-row: span 4
                grid-column: span 4

    &--miniature
        grid-row: span 1
        grid-column: span 1
        // aspect-ratio: 1 / 1
        // &::before
        //     content: ""
        //     display: block
        //     padding-top: 100%

    &--enlarged
        width: 100%
        height: 100%
        @media (orientation: portrait)
            background-color: rgba(0, 0, 0, 0.9)

    &__imag
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        border-radius: var(--borderRadiusSmall)
        cursor: pointer
        transition: transform 0.4s
        transform: scale(1)
        backface-visibility: hidden

        &--top
            object-position: center 30%

        &--bottom
            object-position: center 70%

        &--color
            opacity: 0

        &--active
            cursor: default
            &.gallery_image__imag--color
                opacity: 1

        &--enlarge
            @media (orientation: portrait)
                object-fit: contain

    &:hover &__imag
        z-index: 99
        transform: scale(1.08)
        &--color
            opacity: 1
        &--active
            transform: scale(1)
