@import '../../sass/mixins'

.content_switcher
    display: none
    grid-template-rows: 1fr
    grid-template-columns: 1fr 1fr
    cursor: pointer
    font-size: 0
    @media (orientation: portrait)
        display: grid

    &__option
        @include gradient-color(45deg)
        background-size: 200% 100%
        background-position: 0%
        display: flex
        justify-content: center
        align-items: center
        border-radius: var(--border-radius-small) 0 0 0
        font-size: var(--font-size-bigger)
        font-weight: bold
        color: var(--almost-white)
        letter-spacing: var(--letter-spacing-normal)
        text-transform: uppercase
        transition: .4s

        &:hover
            animation: bgc 2s infinite ease-in alternate
        &:nth-of-type(2)
            background-position: 100%
            border-radius: 0 0 var(--border-radius-small) 0
            &:hover
                animation-direction: alternate-reverse

        &--inactive
            filter: grayscale(100%)
