.appointment
    position: relative
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    z-index: 999
    padding: var(--padding)
    gap: var(--padding)
    filter: drop-shadow(0 0 var(--shadowRadius) rgba(0, 0, 0, 0.2))
    @media (orientation: portrait)
        grid-template-columns: 1fr
        grid-template-rows: 1fr 5vh

    &__calendar
        &--hidden
            @media (orientation: portrait)
                display: none
        // flex-shrink: 0

    &__contact
        &--hidden
            @media (orientation: portrait)
                display: none

        // flex-shrink: 0
