.header
    position: relative
    grid-area: header
    background-color: var(--darkestGray)
    height: 100%
    width: 100vw
    @media(orientation: portrait)
        // background-image: var(--background-gradient)

    &__header_image
        position: absolute
        top: 0px
        left: 0px
        height: 100%
        width: 100vw
        @media(orientation: portrait)
            display: none
        &--port
            display: none
            @media(orientation: portrait)
                display: block
