@import '../../sass/mixins'

@keyframes moveInLeft
    0%
        opacity: 0
        transform: translateX(-25%)
    80%
        transform: translateX(2%)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes moveInRight
    0%
        border-top: 2px solid transparent
        opacity: 0
        transform: translateX(25%)
    80%
        transform: translateX(-2%)
        border-top: 2px solid transparent

    100%
        opacity: 1
        transform: translateX(0)
        border-top: 2px solid var(--light-gray)

.header
    position: relative
    grid-area: header
    height: 100%
    width: 100vw
    background-image: radial-gradient(ellipse at 35% 15%,var(--darker-gray), var(--darkest-gray) 70%)
    @media (orientation: portrait)
        background-image: radial-gradient(ellipse at 35% 15%,var(--darker-gray), var(--darkest-gray) 70%)

    &__image
        position: absolute
        top: 0px
        left: 0px
        height: 100%
        width: 100vw
        // filter: drop-shadow(0 0 calc(var(--shadow-radius)*2) rgba(0, 0, 0, 0.1))
        @media(orientation: portrait)
            display: none

        &--port
            display: none
            @media(orientation: portrait)
                display: block

    &__hello
        position: absolute
        top: 34%
        left: 23%
        color: var(--lightest-gray)
        font-weight: 300
        transform: translate(-50%, -50%)
        @media(orientation: portrait)
            top: 22%
            left: 40%

    &__contact
        position: absolute
        bottom: 28%
        right: 24%
        color: var(--lightest-gray)
        transform: translate(50%, 50%)
        @media(orientation: portrait)
            bottom: 20%
            right: 40%

    &__heading
        &--main
            display: block
            font-family: 'satisfy'
            font-size: var(--font-size-header-main)
            animation: moveInLeft .7s .2s ease-out backwards
            @media(orientation: portrait)
                margin-bottom: 4vw

        &--sub
            @include gradient-color(45deg)
            text-align: center
            display: block
            text-transform: uppercase
            font-size: var(--font-size-header-sub)
            letter-spacing: .24em
            text-indent: .24em
            line-height: 1.8em
            border-top: 2px solid var(--light-gray)
            color: transparent
            background-clip: text
            font-weight: 700
            animation: moveInRight .7s .2s ease-out backwards
            @media(orientation: portrait)
                line-height: 2em
                padding-top: 3vw
                text-indent: .5em

        &--contact
            display: block
            text-transform: uppercase

        &--info
            font-weight: 700
            font-size: var(--font-size-header-sub)
            letter-spacing: .24em
            margin-bottom: .2em
            animation: moveInLeft .7s .2s ease-out backwards
            @media(orientation: portrait)
                margin-bottom: .4em

        &--tel
            color: var(--main-color-1)

        &--email
            color: var(--main-color-3)

        &--data
            font-weight: 400
            font-size: calc(1.2 * var(--font-size-big))
            line-height: 1.8em
            border-top: 2px solid var(--light-gray)
            animation: moveInRight .7s .2s ease-out backwards
            @media(orientation: portrait)
                line-height: 3em

        &--color
            color: var(--main-color-2)
            // @include gradient-color(-45deg)
            // Background clip odcina kawałki liter w tym foncie 
            // color: transparent
            // background-clip: text
