.header
    grid-area: header
    background-color: var(--darkGray)
    position: relative

    &__header_image
        height: 100%
        position: absolute
        top: 0px
        left: 0px
        height: 100%
        width: 100vw

    // &__placeholder
    //     width: 100%
    //     height: 80vh
    //     background-color: #ec4141

    // &__test
    //     position: sticky
    //     width: 100vw
    //     height: 20vh
    //     top: 0
    //     background-color: #fff
