@keyframes bgc
    0%
        background-position: 0% 0%
    50%
        background-position: 100% 0%
    100%
        background-position: 0% 0%

.navigation
    position: sticky
    top: 0
    left: 0
    grid-area: nav
    display: flex
    justify-content: flex-end
    background-color: transparent
    transition: 2s
    z-index: 9999

    &--lower_level
        &::before
            content: ""
            display: block
            position: absolute
            width: 100%
            height: calc(100% + var(--colorBorderWidth))
            background: linear-gradient(90deg, var(--mainColor1), var(--mainColor2), var(--mainColor3))
            box-shadow: 0 0 calc(var(--shadowRadius)*2) rgba(0, 0, 0, 0.6)
        &::after
            content: ""
            display: block
            position: absolute
            width: 100%
            height: 100%
            background-color: var(--darkestGray)
