.navigation
    justify-content: flex-end
    display: flex
    grid-area: nav
    position: sticky
    top: 0
    left: 0
    background-color: transparent
    transition: 2s
    opacity: 0.8

    &__button
        position: relative
        color: white
        font-size: 4vh
        flex-grow: 1
        flex-basis: 15%
        border: none
        margin: 20px
        border-radius: 10px
        background-color: transparent
        cursor: pointer
        transition: 2s
        overflow: hidden

        &::before
            position: absolute
            top: 0
            left: 0
            z-index: -2
            width: 120%
            height: 120%
            content: ""
            display: block
            transition: 1s
            background: linear-gradient(45deg, #727272, #555555)

        &::after
            position: absolute
            z-index: -1
            // transform: rotate(-45deg)
            top: -20vh
            left: 50%
            transform: translateX(-50%)
            width: 0%
            height: 0%
            border-radius: 50%
            content: ""
            display: block
            transition: .8s
            background: linear-gradient(45deg, #ad0b3c, #b4287f)

        &:hover::after
            height: 40vh
            width: 40vh

        &--butter
            flex-grow: 0
            &:hover
                color: #b4287f

            &::after, &::before
                opacity: 0

    &--lower
        background-color: #353535
        opacity: 1
