.App {
  position: relative;
  width: 400vw;
  height: 200vh;
  overflow: visible;
  background-color: #414141;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 92fr 8fr 100fr;
  grid-template-areas:
    "header empty empty empty"
    "nav empty empty empty"
    "sec1 sec2 sec3 sec4";
}

.section {
  background-image: var(--background-gradient);
}

.section--first {
  grid-area: sec1;
}

.section--second {
  grid-area: sec2;
}

.section--third {
  grid-area: sec3;
}

.section--fourth {
  grid-area: sec4;
}
