body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  --mainColor1: #95285b;
  --mainColor2: #b11335;
  --mainColor3: #d75641;

  --almostWhite: #f9f9f9;
  --lightestGray: #c4c1c1;
  --anotherGray: #d1d0d0;
  --lightGray: #414141;
  --darkGray: #292929;

  height: 100%;
  width: 100%;
  overflow: hidden;
}