#root
    --mainColor1: #95285b
    --mainColor2: #b11335
    --mainColor3: #d75641

    --almostWhite: #f3f3f3
    --lightestGray: #d1d0d0
    --lighterGray: #c4c1c1
    --lightGray: #666666
    --mediumGray: #524f4f
    --darkGray: #414141
    --darkerGray: #3f3f3f
    --darkestGray: #292929

    --borderRadiusBig: 2vh
    --borderRadiusMedium: 1.5vh
    --borderRadiusSmall: 1vh
    --colorBorderWidth: 1.5vh

    --fontSizeHeaderMain: 14.6vh
    --fontSizeHeaderSub: 3.8vh
    --fontSizeBigger: 3vh
    --fontSizeBig: 2.2vh
    --fontSizeNormal: 1vw

    --padding: 6vh
    --shadowRadius: 1.2vh

    --gapBig: 16px
    --gap: 10px

    --background-plain: radial-gradient(circle at center center, #4d4848, #292525)
    // --background-gradient: radial-gradient(circle at center center, rgba(33, 33, 33, 0), rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 1px, transparent 1px, transparent 4px), repeating-linear-gradient(45deg, rgb(56, 56, 56) 0px, rgb(56, 56, 56) 5px, transparent 5px, transparent 6px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33))
    --background-gradient: radial-gradient(circle at center center, rgba(33, 33, 33, 0), rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 1px, rgb(66, 66, 66) 2px)

    @media (orientation: portrait)
        --borderRadiusBig: 4vw
        --borderRadiusMedium: 3vw
        --borderRadiusSmall: 2vw
        --colorBorderWidth: 3vw

        --fontSizeHeaderMain: 15vw
        --fontSizeHeaderSub: 6vw
        --fontSizeBiggest: 7vw
        --fontSizeBigger: 4.6vw
        --fontSizeBig: 3.4vw
        --fontSizeNormal: 3vw

        --padding: 6vw
        --shadowRadius: 2vw
