@import '../../sass/mixins'

.appointment_form
    height: 100%
    filter: drop-shadow(0 0 var(--shadow-radius) rgba(0, 0, 0, 0.3))
    &__form
        height: 100%
        gap: var(--gap)
        display: grid
        grid-template-rows: 6vh 4vh 4vh 1fr 5vh
        grid-template-columns: 1fr 1fr
        @media (orientation: portrait)
            grid-template-rows: 6vh 5vh 5vh 5vh 5vh 1fr 5vh

    &__title
        grid-column: span 2
        @include title

    &__title_text
        @include title-text

    &__input
        all: unset
        position: relative
        // box-sizing: border-// box
        font-size: var(--font-size-normal)
        background-color: var(--lighter-gray)
        grid-column: span 1
        color: var(--dark-gray)
        font-weight: bold
        justify-content: center
        align-content: center
        align-items: center
        transition: .4s
        border: 2px solid var(--dark-gray)

        @media (orientation: portrait)
            grid-column: span 2

        &:focus
            border: 2px solid var(--main-color-3)
            border-radius: 10px
            background-color: var(--almost-white)

        &--invalid
            border-color: var(--main-color-2)

        &::-webkit-datetime-edit
            font-size: var(--font-size-normal)
            display: flex
            align-self: center
            justify-content: center
            text-transform: uppercase

        &::-webkit-calendar-picker-indicator
            align-self: center
            margin-right: 5px
            filter: invert(20%)

    &__message
        all: unset
        // box-sizing: border-// box
        grid-column: span 2
        font-size: var(--font-size-normal)
        font-weight: bold
        color: var(--darkGray)
        background-color: var(--lighter-gray)
        border-radius: 0 0 var(--border-radius-small) var(--border-radius-small)
        border: 2px solid var(--dark-gray)
        transition: .4s
        text-align: left
        padding: 10px

        &:focus
            border: 2px solid var(--main-color-3)
            border-radius: 10px
            background-color: var(--almost-white)

        &--invalid
            border-color: var(--main-color-2)
