.calendar
    width: 100%
    height: 100%
    border-radius: 10px
    display: flex
    flex-direction: column
    overflow: hidden
    &__month
        flex-grow: 1
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: 1fr 1fr
        cursor: pointer

    &__chosen_month
        background-image: linear-gradient(45deg, var(--mainColor1), var(--mainColor2), var(--mainColor3))
        background-size: 200% 100%
        background-position: 0%
        display: flex
        justify-content: center
        align-items: center
        font-size: 32px
        font-weight: bold
        color: var(--almostWhite)
        // filter: grayscale(100%)
        &:nth-of-type(2)
            background-position: 100%
        &--inactive_month
            filter: grayscale(100%)
    &__week
        background-color: var(--almostWhite)
        color: var(--darkGray)
        flex-grow: 1
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: repeat(7, 1fr)
    &__weekday
        display: flex
        justify-content: center
        align-items: center
        font-size: 32px
        font-weight: bold
        margin: 0
        line-height: 100%
        text-align: center

    &__days
        background-color: var(--lightestGray)
        flex-grow: 8
        display: grid
        grid-auto-rows: 1fr
        grid-template-columns: repeat(7, 1fr)
        z-index: -2

    &__day
        display: flex
        position: relative
        justify-content: center
        align-items: center
        font-size: 32px
        font-weight: bold
        // border: 1px solid #3d3d3d
        color: var(--darkGray)
        border-radius: 10px
        overflow: visible
        &--not_empty
            &::before
                display: block
                content: ""
                width: 100%
                height: 100%
                background-color: #d1d0d0
                position: absolute
                z-index: -1
                border-radius: 0px
            &::after
                display: block
                content: ""
                width: 70%
                height: 70%
                // background-image: linear-gradient(45deg, var(--mainColor1) 10%, var(--mainColor2), var(--mainColor3) 90%)
                position: absolute
                z-index: -1
                border-radius: 10px
                // border: 10px solid
                // border-image-slice: 1
                // border-width: 5px
                // border-image-source: linear-gradient(45deg, var(--mainColor1), var(--mainColor2), var(--mainColor3))
                // border-style: solid
