@keyframes bgc
    0%
        background-position: 0% 0%
    100%
        background-position: 100% 0%

.calendar
    width: 100%
    height: 100%
    border-radius: 10px
    display: flex
    flex-direction: column
    // overflow: hidden
    &__month
        flex-grow: 1
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: 1fr 1fr
        cursor: pointer
        margin: 8px
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4)

    &__chosen_month
        background-image: linear-gradient(45deg, var(--mainColor1), var(--mainColor2), var(--mainColor3))
        background-size: 200% 100%
        background-position: 0%
        display: flex
        justify-content: center
        border-radius: 10px 0 0 0px
        align-items: center
        font-size: 32px
        font-weight: bold
        color: var(--almostWhite)
        // filter: grayscale(100%)
        &:hover
            animation: bgc 2s infinite ease-in alternate
        &:nth-of-type(2)
            background-position: 100%
            border-radius: 0 10px 0px 0
            &:hover
                animation-direction: alternate-reverse

        &--inactive_month
            filter: grayscale(100%)
    &__week
        background-color: var(--almostWhite)
        color: var(--darkGray)
        flex-grow: 1
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: repeat(7, 1fr)
        border-radius: 0px
        margin: 8px
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4)
    &__weekday
        display: flex
        justify-content: center
        align-items: center
        font-size: 32px
        font-weight: bold
        border-radius: 10px
        margin: 0
        line-height: 100%
        text-align: center

    &__days
        background-color: var(--lightestGray)
        flex-grow: 8
        display: grid
        grid-auto-rows: 1fr
        grid-template-columns: repeat(7, 1fr)
        z-index: 1
        border-radius: 0 0 10px 10px
        // overflow: hidden
        margin: 8px
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4)
        // box-shadow: 0 0 30px rgba(214,85,64, 0.6)

    &__day
        display: flex
        position: relative
        justify-content: center
        align-items: center
        font-size: 28px
        font-weight: bold
        // border: 1px solid #3d3d3d
        color: var(--darkGray)
        border-radius: 10px
        overflow: visible
        margin: 10px
        z-index: 3
        &--not_empty
            cursor: pointer
            &::before
                display: block
                content: ""
                width: calc(100% - 12px)
                height: calc(100% - 12px)
                // background-color: var(--anotherGray)
                // background-image: linear-gradient(45deg, var(--mainColor1) 10%, var(--mainColor2), var(--mainColor3) 90%)
                position: absolute
                z-index: -2
                border-radius: 14px
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.08)
                transition: .5s
            &::after
                cursor: pointer
                display: block
                content: ""
                width: calc(100% - 20px)
                height: calc(100% - 20px)

                // background-image: linear-gradient(45deg, var(--mainColor1) 10%, var(--mainColor2), var(--mainColor3) 90%)
                position: absolute
                z-index: -1
                border-radius: 12px
                background-color: var(--anotherGray)
                // border: 10px solid
                // border-image-slice: 1
                // border-width: 5px
                // border-image-source: linear-gradient(45deg, var(--mainColor1), var(--mainColor2), var(--mainColor3))
                // border-style: solid
            &:hover
                &::before
                    background-image: linear-gradient(45deg, var(--mainColor1) 10%, var(--mainColor2), var(--mainColor3) 90%)
        &--today
            &::before
                background-image: linear-gradient(45deg, var(--mainColor1) 10%, var(--mainColor2), var(--mainColor3) 90%)
                filter: grayscale(1)
            &:hover
                &::before
                    filter: grayscale(0)

        &--busy
            color: var(--almostWhite)
            &::after
                // opacity: 0.8
                background-color: var(--mainColor3)
        &--unavailable
            color: var(--almostWhite)
            &::after
                // opacity: 0.8
                background-color: var(--mainColor2)

        &--passed
            cursor: default
            color: #777
            &::after
                background-color: unset
                cursor: default
            &:hover
                &::before
                    background-image: none
