.nail_painter
    position: relative
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    z-index: 1
    padding: var(--padding)
    gap: var(--padding)
    @media (orientation: portrait)
        grid-template-columns: 1fr
        grid-template-rows: 1fr 5vh

    &__nail_canvas
        overflow: hidden
        border-radius: var(--borderRadiusSmall)
        display: grid
        grid-template-rows: 6vh 1fr
        gap: var(--gap)
        &--hidden
            @media (orientation: portrait)
                display: none

    &__canvas_wrapper
        position: relative
        overflow: hidden
        border-radius: 0 0 var(--borderRadiusSmall) var(--borderRadiusSmall)

    &__canvas
        position: relative
        top: 50%
        transform: translateY(-50%)
        @media (orientation: portrait)
            top: 48%

    &__overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        cursor: crosshair
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
        &::before
            position: absolute
            content: ""
            display: block
            width: 100%
            height: 100%
            background-color: var(--darkGray)
            z-index: -4

    &__nails_image
        position: absolute
        top: 0
        left: 50%
        height: 100%
        transform: translateX(-50%)
        @media (orientation: portrait)
            height: unset
            width: 120%
            top: 20%

    &__color_picker
        gap: var(--gap)
        display: grid
        grid-template-rows: 6vh 4vh 1fr
        &--hidden
            @media (orientation: portrait)
                display: none

    &__title
        position: relative
        border-radius: var(--borderRadiusSmall) var(--borderRadiusSmall) 0 0
        background-image: linear-gradient(45deg, var(--mainColor1), var(--mainColor2), var(--mainColor3))
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
        text-transform: uppercase
        display: flex
        justify-content: center
        align-items: center

    &__title_text
        all: unset
        font-size: var(--fontSizeBigger)
        font-weight: bold
        color: var(--almostWhite)

    &__color_filter
        position: relative
        display: grid
        grid-template-columns: repeat(3, 1fr)
        align-content: stretch
        gap: var(--gap)

    &__color_filter_option
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        background: var(--darkGray)
        transition: .5s
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
        &:hover, &--active
            &:nth-child(1)
                background: var(--mainColor1)
            &:nth-child(2)
                background: var(--mainColor2)
            &:nth-child(3)
                background: var(--mainColor3)

    &__option_text
        all: unset
        color: var(--almostWhite)
        font-size: var(--fontSizeBig)
        font-weight: bold

    &__color_selector
        align-self: start
        background-color: var(--lighterGray)
        border-radius: 0 0 var(--borderRadiusSmall) var(--borderRadiusSmall)
        display: grid
        align-content: start
        grid-template-columns: repeat(auto-fill, minmax(10%, 1fr))
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
        @media (orientation: portrait)
            grid-template-columns: repeat(auto-fill, minmax(16%, 1fr))

    &__color_select
        border-radius: var(--borderRadiusSmall)
        margin: 1vh
        cursor: pointer
        aspect-ratio: 1 / 1
        transition: .1s
        border: 0.6vh solid transparent
        @media (orientation: portrait)
            margin: 2vw
            border-width: 1vw

        &--selected
            border-color: var(--darkestGray)
