.nail_painter
    position: relative
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 16px
    display: flex
    z-index: 1

    &__canvas_wrapper
        position: relative
        padding: 64px
        width: 50%
        height: 100%
        position: relative

    &__overlay
        position: absolute
        top: 64px
        left: 64px
        width: calc(100% - 128px)
        height: calc(100% - 128px)
        border-radius: var(--borderRadiusSmall)
        cursor: crosshair
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
        &::before
            position: absolute
            content: ""
            display: block
            width: 100%
            height: 100%
            background-color: var(--darkGray)
            border-radius: var(--borderRadiusSmall)
            z-index: -1

    &__color_picker
        padding: 64px
        width: 50%
        height: 100%
        // display: flex
        // flex-direction: column
        gap: var(--gap)
        display: grid
        grid-template-rows: 6vh 4vh 1fr
        // align-content: start
        // grid-template-columns: repeat(auto-fill, minmax(10%, 1fr))

        // display: flex
        // flex-wrap: wrap
        // align-items: flex-start
        // align-content: flex-start
        // justify-content: center

    &__title
        position: relative
        border-radius: var(--borderRadiusSmall) var(--borderRadiusSmall) 0 0
        font-size: 28px
        font-weight: bold
        color: var(--almostWhite)
        background-image: linear-gradient(45deg, var(--mainColor1) 25%, var(--mainColor2), var(--mainColor3) 75%)
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)
        display: flex
        justify-content: center
        align-items: center

    &__title_text
        all: unset
        font-size: 28px
        font-weight: bold

    &__color_filter
        position: relative
        font-size: 28px
        font-weight: bold
        color: var(--almostWhite)
        display: grid
        grid-template-columns: repeat(3, 1fr)
        align-content: stretch
        gap: var(--gap)

    &__color_filter_option
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        background: var(--darkGray)
        transition: .5s
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)
        &:hover, &--active
            &:nth-child(1)
                background: var(--mainColor1)
            &:nth-child(2)
                background: var(--mainColor2)
            &:nth-child(3)
                background: var(--mainColor3)

    &__option_text
        all: unset
        font-size: 24px
        font-weight: bold

    &__color_selector
        align-self: start
        background-color: var(--lighterGray)
        border-radius: 0 0 var(--borderRadiusSmall) var(--borderRadiusSmall)
        display: grid
        align-content: start
        grid-template-columns: repeat(auto-fill, minmax(10%, 1fr))
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3)

    &__color_select
        // width: 50px
        // height: 50px
        border-radius: var(--borderRadiusSmall)
        margin: 10px
        cursor: pointer
        aspect-ratio: 1 / 1
        transition: .1s
        border: 5px solid transparent
        // &::before
        //     content: ""
        //     display: block
        //     padding-top: 100%

        &--selected
            border: 5px solid var(--darkestGray)

    &__nails_image
        position: absolute
        top: 64px
        left: 64px
        width: calc(100% - 128px)
        height: calc(100% - 128px)
        border-radius: 10px
